#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*** My Stylesheet ***/
body {
  font-family: Arial, sans-serif;
  background-color: #f5f3ff;
}


/* Navbar */
.navbar {
  background-color: #474747;
  overflow: visible;
  height: 60px;
  padding: 0;
  min-width: 1000px;
  max-width: 100%;
}

.navbar-link {
  margin-right: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  border-radius: 10px;
}

.navbar a:hover {
  background-color: #858585;
  color: white;
}

.navbar button:hover {
  background-color: #858585;
  color: white;
}

.navbar-left {
  margin-left: 5px;
}

.navbar-right {
  margin-right: 15px;
}

.hamburger-menu {
  display: none;
}

.dropdown {
  padding-top: 1px;
  float: right;
}

.dropdown .dropbutton {
  background-color: #474747;
  color: white;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #474747;
  min-width: 160px;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: white;
  padding: 10px 14px;
  display: block;
  text-align: left;
  border-radius: 0px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}


/* Page content */
.page-title {
  padding-left: 100px;
  padding-top: 5px;
}

.main-content {
  padding-left: 120px;
}


/* Home page */
.home-page {
  text-align: left;
}

.numbered {
  margin-bottom: 10px;
}


/* Facility list page */
.facility-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#facility {
  margin-bottom: 20px;
}

.facility-item {
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.facility-item img {
  width: 430px;
  height: auto;
  border-radius: 10px;
}

.facility-info {
  display: flex;
  flex-direction: column;
}

.facility-info p, h2{
  margin: 2px 0;
  text-align: left;
}

.facility-info h2 {
  margin-top: 10px;
}

.facility-info p {
  margin-bottom: 10px;
}

.facility-info div {
  display: flex;
  align-items: center;
}

.facility-info svg {
  margin-right: 4px;
  vertical-align: middle;
}


/* Reservation Form page */
#facility-selector {
  margin-bottom: 20px;
}

.reservation-item {
  display: flex;
}

.reservation-item img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  margin-right: 15px;
}

.reservation-item div {
  margin-bottom: 10px;
}

.form-group {
  margin-top: 10px;
  text-align: left;
}

.submit-button {
  margin-bottom: 50px;
}


/* User information page */
#profile-pic {
  width: 180px;
  height: 180px;
}

#profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-button {
  height: 35px;
  margin-top: 10px;
}

.profile-padding {
  margin-bottom: 15px;
}

.profile-placeholder {
  margin: 0;
}

#file-input {
  display: block;
}


/* Style for 600px < screen <= 800px */
@media (max-width: 800px) {
  .page-title {
      padding-left: 50px;
  }

  .main-content {
      padding-left: 70px;
  }

  .facility-container {
      padding-left: 50px;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
  }

  .facility-item img {
      width: 250px;
      margin-right: 25px;
  }

  .facility-info p, h2 {
      margin: 2px 0;
  }

  .facility-info div {
      display: flex;
      align-items: center;
  }

  .facility-info svg {
      margin-right: 4px;
  }

  #facility {
      margin-top: 30px;
  }

  .reservation-form-content {
      padding-left: 50px;
  }

  .reservation-margin {
      margin-bottom: 15px;
  }

  #submit-button {
      width: 80px;
      height: 40px;
  }

  #profile-pic {
      width: 175px;
      height: 175px;
  }

  .button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .profile-button {
      height: 30px;
  }

  .profile-padding {
      margin-bottom: 15px;
  }

  button {
      background-color: transparent;
      border-radius: 4px;
  }

  .profile-button.clicked {
      background-color: #585858;
      color: white;
  }
}


/* Style for screen <= 600px */
@media (max-width: 600px) {
  .navbar {
      position: relative;
      z-index: 10;
  }

  .hamburger-menu {
      display: block;
      background: none;
      color: white;
      border: none;
      cursor: pointer;
      margin-right: 5px;
  }

  .navbar-center.show {
    display: flex;
    flex-direction: column;
  }

  #navbar-profile {
      display: none;
  }

  .navbar-center, .navbar-right {
      display: none;
  }

  .dropbutton {
      margin-left: 20px;
      width: 90%;
  }
  
  .dropdown-content {
      margin-left: 20px;
  }

  .navbar-link {
      margin-left: 20px;
      width: 90%;
  }

  .navbar-active + main {
      margin-top: 150px;
  }

  .page-title {
      padding-left: 20px;
  }

  .main-content {
      padding-left: 40px;
  }

  .facility-container {
      padding-left: 50px;
  }

  .facility-item img {
      width: 250px;
      margin-right: 20px;
  }

  .facility-info p, h2 {
      margin: 1px 0;
  }

  .facility-info div {
      display: flex;
      align-items: center;
  }

  .facility-info svg {
      margin-right: 2px;
  }

  #facility {
      margin-top: 20px;
  }

  .reservation-form-content {
      padding-left: 20px;
  }

  .reservation-margin {
      margin-bottom: 10px;
  }

  #submit-button {
      width: 70px;
      height: 35px;
  }

  #profile-pic {
      width: 150px;
      height: 150px;
  }

  .button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .profile-button {
      height: 30px;
  }

  .profile-padding {
      margin-bottom: 10px;
  }

  button {
      background-color: transparent;
      border-radius: 4px;
  }

  .profile-button {
      height: 30px;
  }

  .profile-button.clicked {
      background-color: #585858;
      color: white;
  }
}